* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3b3016;
}

#clock h2 {
    position: relative;
    display: block;
    color: white;
    text-align: center;
    margin: 10px 0;
    font-weight: 900;
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 0.3em;
}

#clock #time {
    display: flex;
}

#clock #time div {
    position: relative;
    margin: 0 5px;
}

#clock #time div span {
    display: block;
    width: 180px;
    height: 100px;
    background: #2196f3;
    display: flex;
    font-weight: 500;
    color: white;
    justify-content: center;
    align-content: center;
    font-size: 3em;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .2);
    position: relative;
    z-index: 10;
}

#clock #time div span:nth-child(2) {
    height: 30px;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    font-weight: 550;
    z-index: 9;
    box-shadow: none;
    text-transform: uppercase;
    background: #1463a3;
}

#clock #time div:last-child span {
    background: #ff006a;
}

#clock #time div:last-child span:nth-child(2) {
    background: #ec0062;
}